@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #cbdfc8aa;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    background-color: #1a4e30ae;
    justify-content: space-between;
    color: rgba(250, 253, 250, 0.926);
    padding: 5px 15px 5px 15px;
}

.header-right a{
    text-decoration: none;
    color: inherit;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.news-header {
    display: flex;
    justify-content: center;
    color: #1a4e30ae;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
    margin: 20px;
    justify-content: center;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 400px;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #333;
}
.card-description {
    font-size: 0.9em;
    color: #666;
}
.card-link {
    display: flex;
    text-decoration: none;
    color: inherit;

}

.feed {
    display: flex;
    margin: 70px;

}

.contact-form {
    color: #d6e0da
    background-color: rrb(79, 105, 83);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.912);
    max-width: 400px;
    margin: 20px auto;
    text-align: center;

}

.contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

.contact-form button {
    background-color: #543d6b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.contact-form button:hover {
    background-color: #413146;
}

.embed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.footer {
    display: flex;
    background-color: #1a4e30ae;
    color: rgba(250, 253, 250, 0.926);
    padding: 5px 15px 5px 15px;
}